<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Best Supercars</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/Images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body class="pt-0">

    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg navbar-dark w-100 sticky-top" style="background:#333333">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Images/car.gif" width="30" height="30" class="d-inline-block align-top" alt="" />
                Best Supercars
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("MuaNhieuNhat", "Home")">Mẫu xe mua nhiều nhất</a>
                    </li>


                    @Html.Action("_PhanThuongHieu", "Home")

                    @Html.Action("_PhanKieuDang", "Home")

                    @Html.Action("_PhanNoiSanXuat", "Home")
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "GioHang")"><i class="fas fa-shopping-cart"></i>Giỏ hàng</a>
                    </li>

                    @if (Session["MaKhachHang"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Home")"><i class="fas fa-sign-in-alt"></i>Đăng nhập</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                                @Session["HoTenKhachHang"].ToString()

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("MyOrders", "Home")"> <i class="fas fa-shopping-basket"></i> Đơn hàng của tôi</a>
                                <a class="dropdown-item" href="@Url.Action("DoiMatKhau", "Home")"><i class="fas fa-sync-alt"></i>  Đổi mật khẩu</a>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Home")"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                            </div>
                        </li>
                    }
                </ul>
                <form class="form-inline my-2 my-lg-0" action="@Url.Action("Search","Home")" method="post">
                    <input class="form-control mr-sm-2" type="search" name="TuKhoa" placeholder="Tìm Kiếm" aria-label="Search" required>
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>Tìm Kiếm</button>
                </form>
            </div>
        </nav>


        <section>
            <div class="container-fluid">
                @if (TempData["AlertMessage"] != null)
                {
                    <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                        @TempData["AlertMessage"]
                    </div>
                }
                @RenderBody()
            </div>
        </section>


        <footer class="page-footer font-small unique-color-dark">
            <div style="background-color: #808080;">
                <div class="container">
                    <div class="row py-4 d-flex align-items-center">
                        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        </div>
                        <div class="col-md-6 col-lg-7 text-center text-md-right ">
                            <a class="fb-ic">
                                <i class="fab fa-facebook-square white-text mr-4 fa-lg " style="color:#ffffff"> </i>
                            </a>
                            <a class="tw-ic">
                                <i class="fab fa-twitter white-text mr-4 fa-lg" style="color:#ffffff"> </i>
                            </a>
                            <a class="gplus-ic">
                                <i class="fab fa-google-plus-g white-text mr-4 fa-lg" style="color:#ffffff"> </i>
                            </a>
                            <a class="li-ic">
                                <i class="fab fa-linkedin-in white-text mr-4 fa-lg" style="color:#ffffff"> </i>
                            </a>
                            <a class="ins-ic">
                                <i class="fab fa-instagram white-text fa-lg" style="color:#ffffff"> </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-center text-md-left mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 ">
                        <h6 class="text-uppercase font-weight-bold">HƯỚNG DẪN</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
                        <p>
                            <a href="#!" class="text-dark">Giới thiệu</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Liên hệ</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Sơ đồ</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Trợ giúp đăng tin</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 ">
                        <h6 class="text-uppercase font-weight-bold">THÔNG TIN</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
                        <p>
                            <a href="#!" class="text-dark">Bảng báo giá</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark" style="color:#ffffff">Cơ chế giải quyết tranh chấp</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark" style="color:#ffffff">Chính sách bảo mật</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark" style="color:#ffffff">Quy chế hoạt động</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 ">
                        <h6 class="text-uppercase font-weight-bold">Liên hệ</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
                        <p>
                            <i class="fas fa-home mr-3 "></i>DH19PM-An Giang University
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i>KTT@student.agu.edu.vn
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i>0979 797 979
                        </p>
                    </div>
                </div>
                <div class="col-md-auto mt-5" style="text-align:center">
                    <h6 class="text-uppercase font-weight-bold text-dark">Best Supercars</h6>
                    <h6 class="mb-0 text-light text-dark text-center">
                        Copyright &copy; 2020 - @DateTime.Now.ToString("yyyy") - được thiết kế bởi nhóm (Khang - Trâm - Trang)
                    </h6>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ThongBao.js"></script>
</body>
</html>
