@model IEnumerable<BookingTravel.Models.Tour>

@{
    ViewBag.Title = "Tour";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="mt-1">
    <div class="card text-white">
        <img src="~/Images/travel.jpg" style="width:100%; " class="card-img-top" alt="...">
        <div class="card-img-overlay d-flex align-items-end p-2">
            <div class="card-header">
                <form action="@Url.Action("Search","Home")" method="post" class="needs-validation" novalidate >
                    <input class="form-control me-2 mt-2" type="search" placeholder="Bạn muốn đi đâu" aria-label="Search" name="DiemDen" required>
                    <div class="invalid-tooltip" >Điểm đến không được bỏ trống <!--thông báo lỗi theo novalidate--></div>
                    <div class="row mt-2">
                        <div class="col">
                            <input type="date" class="form-control" name="Ngay" id="Ngay">
                        </div>
                        <div class="col ">
                            <select id="NoiKhoiHanh" class="form-select NoiKhoiHanh" name="NoiKhoiHanh">
                                <option>Nơi khởi hành</option>
                                <option value="0" selected>An Giang</option>
                                <option value="1">Bà rịa – Vũng tàu</option>
                                <option value="2">Bắc Giang</option>
                                <option value="3">Bắc Kạn</option>
                                <option value="4">Bạc Liêu</option>
                                <option value="5">Bắc Ninh</option>
                                <option value="6">Bến Tre</option>
                                <option value="7">Bình Định</option>
                                <option value="8">Bình Dương</option>
                                <option value="9">Bình Phước</option>
                                <option value="10">Bình Thuận</option>
                                <option value="11">Cà Mau</option>
                                <option value="12">Cần Thơ</option>
                                <option value="13">Cao Bằng</option>
                                <option value="14">Đà Nẵng</option>
                                <option value="15">Đắk Lắk</option>
                                <option value="16">Đắk Nông</option>
                                <option value="17">Điện Biên</option>
                                <option value="18">Đồng Nai</option>
                                <option value="19">Đồng Tháp</option>
                                <option value="20">Gia Lai</option>
                                <option value="21">Hà Giang</option>
                                <option value="22">Hà Nam</option>
                                <option value="23">Hà Nội</option>
                                <option value="24">Hà Tĩnh</option>
                                <option value="25">Hải Dương</option>
                                <option value="26">Hải Phòng</option>
                                <option value="27">Hòa Bình</option>
                                <option value="28">Hưng Yên</option>
                                <option value="29">Khánh Hòa</option>
                                <option value="30">Kiên Giang</option>
                                <option value="31">Kon Tum</option>
                                <option value="32">Lai Châu</option>
                                <option value="33">Lâm Đồng</option>
                                <option value="34">Lạng Sơn</option>
                                <option value="35">Lào Cai</option>
                                <option value="36">Nam Định</option>
                                <option value="37">Nghệ An</option>
                                <option value="38">Ninh Bình</option>
                                <option value="39">Ninh Thuận</option>
                                <option value="40">Phú Thọ</option>
                                <option value="41">Phú Yên</option>
                                <option value="42">Quảng Bình</option>
                                <option value="43">Quảng Nam</option>
                                <option value="44">Quảng Ngãi</option>
                                <option value="45">Quảng Ninh</option>
                                <option value="46">Quảng Trị</option>
                                <option value="47">Sóc Trăng</option>
                                <option value="48">Sơn La</option>
                                <option value="49">Tây Ninh</option>
                                <option value="50">Thái Bình</option>
                                <option value="51">Thái Nguyên</option>
                                <option value="52">Thanh Hóa</option>
                                <option value="53">Thừa Thiên Huế</option>
                                <option value="54">Tiền Giang</option>
                                <option value="55">Thành phố Hồ Chí Minh</option>
                                <option value="56">Trà Vinh</option>
                                <option value="57">Tuyên Quang</option>
                                <option value="58">An Giang</option>
                                <option value="59">Vĩnh Long</option>
                                <option value="60">Vĩnh Phúc</option>
                                <option value="61">Yên Bái</option>
                                <option value="62">Hậu Giang</option>
                                <option value="63">Long An</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-info mt-2" type="submit">Tìm kiếm</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100 m-1  bg-light" style="width:100%;">
                    <div class="card text-white">
                        <img src="~/@item.HinhAnh.Select(h => h.HinhAnh1).FirstOrDefault()" style="width:100%; height:200px" class="card-img-top" alt="...">
                        <div class="card-img-overlay d-flex align-items-end p-2">
                            <div class="badge rounded-pill bg-light text-secondary">
                                @foreach (var pt in @item.ChiTietDiaDiemThamQuan.Select(a => a.DiaDiemThamQuan.Tinh).Distinct())
                                {

                                    if (pt == 0)
                                    {
                                        <span>An Giang</span>
                                    }
                                    else if (pt == 1)
                                    {
                                        <span>Bà rịa – Vũng tàu</span>
                                    }
                                    else if (pt == 2)
                                    {
                                        <span>Bắc Giang</span>
                                    }
                                    else if (pt == 3)
                                    {
                                        <span>Bắc Kạn</span>
                                    }
                                    else if (pt == 4)
                                    {
                                        <span>Bạc Liêu</span>
                                    }
                                    else if (pt == 5)
                                    {
                                        <span>Bắc Ninh</span>
                                    }
                                    else if (pt == 6)
                                    {
                                        <span>Bến Tre</span>
                                    }
                                    else if (pt == 7)
                                    {
                                        <span>Bình Định</span>
                                    }
                                    else if (pt == 8)
                                    {
                                        <span>Bình Dương</span>
                                    }
                                    else if (pt == 9)
                                    {
                                        <span>Bình Phước</span>
                                    }
                                    else if (pt == 10)
                                    {
                                        <span>Bình Thuận</span>
                                    }
                                    else if (pt == 11)
                                    {
                                        <span>Cà Mau</span>
                                    }
                                    else if (pt == 12)
                                    {
                                        <span>Cần Thơ</span>
                                    }
                                    else if (pt == 13)
                                    {
                                        <span>Cao Bằng </span>
                                    }
                                    else if (pt == 14)
                                    {
                                        <span>Đà Nẵng</span>
                                    }
                                    else if (pt == 15)
                                    {
                                        <span>Đắk Lắk</span>
                                    }
                                    else if (pt == 16)
                                    {
                                        <span>Đắk Nông</span>
                                    }
                                    else if (pt == 17)
                                    {
                                        <span>Điện Biên</span>
                                    }
                                    else if (pt == 18)
                                    {
                                        <span>Đồng Nai</span>
                                    }
                                    else if (pt == 19)
                                    {
                                        <span>Đồng Tháp</span>
                                    }
                                    else if (pt == 20)
                                    {
                                        <span>Gia Lai</span>
                                    }
                                    else if (pt == 21)
                                    {
                                        <span>Hà Giang</span>
                                    }
                                    else if (pt == 22)
                                    {
                                        <span>Hà Nam</span>
                                    }
                                    else if (pt == 23)
                                    {
                                        <span>Hà Nội </span>
                                    }
                                    else if (pt == 24)
                                    {
                                        <span>Hà Tĩnh</span>
                                    }
                                    else if (pt == 25)
                                    {
                                        <span>Hải Dương</span>
                                    }
                                    else if (pt == 26)
                                    {
                                        <span>Hải Phòng</span>
                                    }
                                    else if (pt == 27)
                                    {
                                        <span>Hòa Bình</span>
                                    }
                                    else if (pt == 28)
                                    {
                                        <span>Hưng Yên</span>
                                    }
                                    else if (pt == 29)
                                    {
                                        <span>Khánh Hòa</span>
                                    }
                                    else if (pt == 30)
                                    {
                                        <span>Kiên Giang</span>
                                    }
                                    else if (pt == 31)
                                    {
                                        <span>Kon Tum</span>
                                    }
                                    else if (pt == 32)
                                    {
                                        <span>Lai Châu</span>
                                    }
                                    else if (pt == 33)
                                    {
                                        <span>Lâm Đồng</span>
                                    }
                                    else if (pt == 34)
                                    {
                                        <span>Lạng Sơn</span>
                                    }
                                    else if (pt == 35)
                                    {
                                        <span>Lào Cai</span>
                                    }
                                    else if (pt == 36)
                                    {
                                        <span>Nam Định</span>
                                    }
                                    else if (pt == 37)
                                    {
                                        <span>Nghệ An</span>
                                    }
                                    else if (pt == 38)
                                    {
                                        <span>Ninh Bình</span>
                                    }
                                    else if (pt == 39)
                                    {
                                        <span>Ninh Thuận</span>
                                    }
                                    else if (pt == 40)
                                    {
                                        <span>Phú Thọ</span>
                                    }
                                    else if (pt == 41)
                                    {
                                        <span>Phú Yên</span>
                                    }
                                    else if (pt == 42)
                                    {
                                        <span>Quảng Bình</span>
                                    }
                                    else if (pt == 43)
                                    {
                                        <span>Quảng Nam</span>
                                    }
                                    else if (pt == 44)
                                    {
                                        <span>Quảng Ngãi</span>
                                    }
                                    else if (pt == 45)
                                    {
                                        <span>Quảng Ninh</span>
                                    }
                                    else if (pt == 46)
                                    {
                                        <span>Quảng Trị</span>
                                    }
                                    else if (pt == 47)
                                    {
                                        <span>Sóc Trăng</span>
                                    }
                                    else if (pt == 48)
                                    {
                                        <span>Sơn La</span>
                                    }
                                    else if (pt == 49)
                                    {
                                        <span>Tây Ninh</span>
                                    }
                                    else if (pt == 50)
                                    {
                                        <span>Thái Bình</span>
                                    }
                                    else if (pt == 51)
                                    {
                                        <span>Thái Nguyên</span>
                                    }
                                    else if (pt == 52)
                                    {
                                        <span>Thanh Hóa</span>
                                    }
                                    else if (pt == 53)
                                    {
                                        <span>Thừa Thiên Huế</span>
                                    }
                                    else if (pt == 54)
                                    {
                                        <span>Tiền Giang</span>
                                    }
                                    else if (pt == 55)
                                    {
                                        <span>Thành phố Hồ Chí Minh</span>
                                    }
                                    else if (pt == 56)
                                    {
                                        <span>Trà Vinh</span>
                                    }
                                    else if (pt == 57)
                                    {
                                        <span>Tuyên Quang</span>
                                    }
                                    else if (pt == 58)
                                    {
                                        <span>Trà Vinh</span>
                                    }
                                    else if (pt == 59)
                                    {
                                        <span>Vĩnh Long</span>
                                    }
                                    else if (pt == 60)
                                    {
                                        <span>Vĩnh Phúc</span>
                                    }
                                    else if (pt == 61)
                                    {
                                        <span>Yên Bái</span>
                                    }
                                    else if (pt == 62)
                                    {
                                        <span>Hậu Giang</span>
                                    }
                                    else
                                    {
                                        <span>Long An</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text h-25">
                            <h6 class="text-success">@item.TenTour</h6>
                        </div>
                        <div class="card-text ">

                            <p class="float-end mt-2">

                                @foreach (var pt in @item.ChiTietPhuongTien.Select(a => a.PhuongTien.LoaiPhuongTien))
                                {
                                    if (pt == 0)
                                    {
                                        <i class="fas fa-plane-departure" data-bs-toggle="tooltip" data-bs-placement="top" title="Máy bay"></i>

                                    }
                                    else if (pt == 1)
                                    {
                                        <i class="fas fa-ship" data-bs-toggle="tooltip" data-bs-placement="top" title="Tàu thủy"></i>
                                    }
                                    else if (pt == 2)
                                    {
                                        <i class="fas fa-train" data-bs-toggle="tooltip" data-bs-placement="top" title="Tàu hỏa"></i>
                                    }
                                    else if (pt == 3)
                                    {
                                        <i class="fas fa-shuttle-van" data-bs-toggle="tooltip" data-bs-placement="top" title="Xe khách"></i>
                                    }

                                }

                            </p>
                            <div class="mt-1">
                                @foreach (var dd in @item.ChiTietDiaDiemThamQuan.Select(h => h.DiaDiemThamQuan.TenDiaDanh))
                                {
                                    <br>
                                    <i class="fas fa-map-marker-alt text-info"></i>
                                    <small class="text-info"> @dd</small>


                                }


                            </div>
                        </div>
                    </div>
                    <h5 class="text-lg-end me-lg-4 text-info"> @string.Format("{0:N0}", @item.DonGia) VNĐ</h5>
                    <div class="card-footer d-grid gap-2 d-md-flex justify-content-center ">
                        <a href="@Url.Action("ThemVaoGio", "GioHang", new { maSP = item.ID })" class="btn btn-outline-info text-dark"><i class="fas fa-cart-plus"></i> Đặt Ngay</a>
                        <a href="@Url.Action("Details_Tour", "Home", new { id = item.ID })" class="btn btn-outline-info  text-dark"> Chi tiết</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>

        document.getElementById("Ngay").valueAsDate = new Date();
        $(document).ready(function () {
            $('.NoiKhoiHanh').select2({
                placeholder: "Chọn nơi khởi hành",
                allowClear: true,
                width: 'resolve',
                theme: "classic",
                "language": {
                    "noResults": function () {
                        return "Không tìm thấy nơi khởi hành!!!";
                    }
                }

            });
        });

        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

    </script>
}