@model IEnumerable<BookingTravel.Models.Myorders>

@{
    ViewBag.Title = "Đơn hàng của tôi";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.css">

<div class="card mt-3">
    <h5 class="card-header">Đơn hàng của   @Session["HoTenKhachHang"].ToString()</h5>
    <div class="card-body">
        <table id="Panigation" class="table table-bordered table-hover table-sm mb-0">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="35%">Tour</th>
                    <th width="10%">Số lượng</th>
                    <th width="10%">Đơn giá</th>
                    <th width="10%">Thành tiền</th>
                    <th width="10%">Tình trạng</th>
                    <th width="10%">Thời gian đặt hàng</th>
                </tr>
            </thead>
            <tbody>
                @{ int stt = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@item.TenTour</td>
                        <td>@item.SoLuong</td>
                        <td class="text-right">@String.Format("{0:N0}", item.DonGia) VNĐ</td>
                        <td class="text-right">@String.Format("{0:N0}", item.DonGia * item.SoLuong) VNĐ</td>
                        <td>
                            @if (item.TinhTrang == 0)
                            {
                                <span>Đơn đặt Tour mới</span>
                            }
                            else if (item.TinhTrang == 1)
                            {
                                <span>Đang xác nhận</span>
                            }
                            else if (item.TinhTrang == 2)
                            {
                                <span>Đã hủy</span>
                            }
                            else if (item.TinhTrang == 3)
                            {
                                <span>Đang thanh toán </span>
                            }
                            else if (item.TinhTrang == 4)
                            {
                                <span>Đã thanh toán</span>
                            }
                            else if (item.TinhTrang == 4)
                            {
                                <span>Thất bại </span>
                            }
                            else
                            {
                                <span>Thành công </span>
                            }
                        </td>
                        <td>@item.NgayDatHang</td>
                    </tr>
                    stt++;

                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Panigation').DataTable({
                "language": {
                    "lengthMenu": "Số dòng _MENU_  trên trang ",
                    "zeroRecords": "Không tìm thấy!!!",
                    "info": "Trang  _PAGE_ của _PAGES_",
                    "infoEmpty": "Không có sẵn dữ liệu",
                    "infoFiltered": "(được lọc từ tổng _MAX_  dữ liệu)"
                }
            });
        });
    </script>
}
