@model IEnumerable<BookingTravel.Models.BaiViet>

@{
    ViewBag.Title = "Review";
}

<div class="mt-1">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100 m-1" style="width:100%;">
                    <img src="@Server.HtmlDecode(BookingTravel.Libs.Images.GetFirstImage(item.NoiDung))" class="card-img" alt="..." style="width:100%; height:200px">
                    <div class="card-body">
                        <h5 class="card-title">@item.TieuDe</h5>
                        <p class="card-text">
                            <small>
                                <i class="bi bi-calendar-check-fill"></i> @item.NgayDang
                                <i class="bi bi-person-fill"></i> @item.NhanVien.HoVaTen
                                <i class="bi bi-eye-fill"></i> @item.LuotXem
                            </small>
                        </p>                     
                        <p class="card-text">@item.TomTat</p>
                    </div>
                    <a href="@Url.Action("Detail", "Home", new { id = item.ID })" class="btn btn-info">Xem chi tiết</a>
                </div>
          </div>
        }
    </div>
</div>
