<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ThreeT Travel</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Areas/Admin/ThemesAdmin/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Areas/Admin/ThemesAdmin/dist/css/adminlte.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="color: #465ade; background-color: #318FB5 ">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index", "Home")" class="brand-link text-decoration-none">
                <img src="~/Images/passport.png" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">ThreeT Travel</span>
            </a>

            <!-- Sidebar -->
            @if (Session["MaNhanVien"] == null)
            {
                <a href="@Url.Action("Login", "Home")" class="brand-link text-decoration-none">
                    <i class="fa fa-user-circle brand-image img-circle elevation-3 mt-2" aria-hidden="true"></i><span class="brand-text "> Đăng nhập quản lý</span>
                </a>
               
            }
            else
            {
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="info">
                            <a href="#" class="d-block text-dark" style="text-decoration-line: none; font-size: 1.2rem; text-transform: uppercase">
                                @Session["HoTenNhanVien"].ToString()
                            </a>
                            <span>
                                @if (Convert.ToInt32(Session["Quyen"]) == 1)
                                {
                                    <span class="badge bg-info text-dark ml-3">Quản lý</span>
                                }
                                else
                                {
                                    <span class="badge text-info">Nhân viên</span>
                                }
                            </span>
                        </div>
                    </div>

                    <!-- SidebarSearch Form -->
                    <div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" style="background-color: #85dce7; color:black">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar" style="background-color: #85dce7; color:black">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>


                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            @if (Convert.ToInt32(Session["Quyen"]) == 1)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link active" style="background-color: #85dce7; color: black">
                                        <i class="nav-icon fas fa-user"></i>
                                        <p>
                                            Quản lý người dùng
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "NhanVien")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Nhân viên</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "KhachHang")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Khách hàng</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link active" style="background-color: #85dce7; color: black">
                                        <i class="fas fa-chart-line"></i>
                                        <p>
                                            Thống kê báo cáo
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("DoanhThu", "DatTour")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Doanh thu</p>
                                            </a>
                                        </li>

                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("DoanhThuTour", "DatTour")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Doanh thu theo Tour</p>
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                            }
                            <li class="nav-item">
                                <a href="@Url.Action("Tour","Home")" class="nav-link active" style="background-color: #85dce7; color: black">
                                    <i class="fas fa-cart-plus"></i>
                                    <p>Tour </p>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link active" style="background-color: #85dce7; color:black">
                                    <i class="nav-icon fa fa-paper-plane"></i>
                                    <p>
                                        Quản lý bài viết
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "BaiViet")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Bài viết</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "BinhLuan")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Bình luận</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link active" style="background-color: #85dce7; color:black">
                                    <i class="nav-icon fas fa-sitemap"></i>
                                    <p>
                                        Quản lý danh mục
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "PhuongTien")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Phương tiện</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "KhachSan")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Khách sạn</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "DiaDiemThamQuan")" class="nav-link ">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Địa điểm tham quan</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link active" style="background-color: #85dce7; color:black">
                                    <i class="nav-icon fa fa-globe"></i>
                                    <p>
                                        Quản lý Tour
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Tour")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Tour</p>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "BangPhanCong")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Phân công hướng dẫn</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link active" style="background-color: #85dce7; color:black">
                                    <i class="nav-icon fa fa-shopping-bag"></i>
                                    <p>
                                        Quản lý đặt Tour
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "DatTour")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Đặt tour</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Logout", "Home")" class="nav-link active" style="background-color: #85dce7; color:black">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <p>
                                        Đăng xuất
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->

                </div>
            }
            <!-- /.sidebar -->
        </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewBag.Title</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">@ViewBag.Title</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->

        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer text-center">
            <strong>Copyright &copy; 2021 Bởi Tình - Tuyết - Thắng</strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Areas/Admin/ThemesAdmin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Areas/Admin/ThemesAdmin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/Areas/Admin/ThemesAdmin/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/Areas/Admin/ThemesAdmin/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Areas/Admin/ThemesAdmin/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Areas/Admin/ThemesAdmin/dist/js/pages/dashboard3.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>


