@model BookingTravel.Models.ChiTietDichVu

@{
    ViewBag.Title = "Thêm dịch vụ";
}

<div class="card mt-3">
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                @Html.LabelFor(model => model.selectedServe)
                @Html.DropDownListFor(model => model.selectedServe, new SelectList(new[] {
                    new SelectListItem { Value = null, Text = "-- Chọn --"},
                    new SelectListItem { Value = "0", Text = "Xe đưa đón"},
                    new SelectListItem { Value = "1", Text = "Bửa ăn"},
                    new SelectListItem { Value = "2", Text = "Vé tham quan"},
                    new SelectListItem { Value = "3", Text = "Bảo hiểm"},
                    new SelectListItem { Value = "4", Text = "Hướng dẫn viên"}
                }, "Value", "Text"), new { @class = "form-control select2Serve", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.selectedServe, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Thêm mới" class="btn btn-info" /> hoặc @Html.ActionLink("Quay về danh sách", "Details", "Tour")
            </div>
        }


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {         
            $(".select2Serve").select2({
                placeholder: "Chọn dịch vụ",
                allowClear: true,
                width: 'resolve',
                theme: "classic",
                minimumResultsForSearch: Infinity,
                "language": {
                    "noResults": function () {
                        return "Không tìm thấy dịch vụ!!!";
                    }
                }
            });       
        });
    </script>
}
