@model IEnumerable<BookingTravel.Models.BinhLuan>

@{
    ViewBag.Title = "Bình luận";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.css">

<div class="card mt-3">
    <div class="card-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                @TempData["AlertMessage"]
            </div>
        }
        <table id="Panigation" class="table table-bordered table-hover display">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoiDung)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayDang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KiemDuyet)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BaiViet.TieuDe)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KhachHang.HoVaten)
                    </th>
                    <th width="5%">Xóa</th>
                </tr>
            </thead>
            <tbody>
                @{ int stt = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@stt</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoiDung)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayDang)
                        </td>
                        <td class="text-center">
                            @if (item.KiemDuyet == 1)
                            {


                                <a href="@Url.Action("Approved", new { id = item.ID })"><i class="fas fa-check-circle text-info"></i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Approved", new { id = item.ID })"><i class="fas fa-ban text-danger"></i></a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BaiViet.TieuDe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KhachHang.HoVaten)
                        </td>

                        <td class="text-center">
                            <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                    stt++;
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

        $(document).ready(function () {
            $('#Panigation').DataTable({
                "language": {
                    "lengthMenu": "Số dòng _MENU_  trên trang ",
                    "zeroRecords": "Không tìm thấy!!!",
                    "info": "Trang  _PAGE_ của _PAGES_",
                    "infoEmpty": "Không có sẵn dữ liệu",
                    "infoFiltered": "(được lọc từ tổng _MAX_  dữ liệu)"
                }
            });
        });
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>
}
