@model BookingTravel.Models.ChiTietDiaDiemThamQuan

@{
    ViewBag.Title = "Chi tiết địa điểm";
}


<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.Tour_ID)
                @Html.DropDownList("Tour_ID", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tour_ID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiaDiemThamQuan_ID)
                @Html.ListBox("selectedLocation", new MultiSelectList(ViewBag.DiaDiemThamQuan_ID, "Value", "text"), new { @class = "form-control chosen " })
                @Html.ValidationMessageFor(model => model.selectedLocation, "", new { @class = "text-danger" })
            </div>



            <div class="form-group mt-2">
                <input type="submit" value="Thêm mới" class="btn btn-info" /> hoặc @Html.ActionLink("Quay về danh sách", "Index")
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" rel="stylesheet" />
    <script>
        $(".chosen").chosen({
            disable_search_threshold: 10,
            no_results_text: "Không tìm thấy địa điểm tham quan!!!",
            placeholder_text_multiple:"Địa danh tham quan của Tour",
            width: "100%"
        });
    </script>
}