@model IEnumerable<BookingTravel.Models.ChiTietDiaDiemThamQuan>

@{
    ViewBag.Title = "Chi tiết địa điểm tham quan";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<link href="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" rel="stylesheet" />

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <p><a class="btn btn-info" href="@Url.Action("Create")" role="button">Thêm mới</a></p>
        <table id="Panigation" class="table table-bordered table-hover table-sm mb-0">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tour.TenTour)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaDiemThamQuan.TenDiaDanh)
                    </th>
               
                    <th width="5%">Sửa</th>
                    <th width="5%">Xóa</th>
                </tr>
            </thead>
            <tbody>
                @{ int stt = 1; }
                @foreach (var item in Model)
                {
                <tr>
                    <td>@stt</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tour.TenTour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaDiemThamQuan.TenDiaDanh)
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fas fa-edit"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fas fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
                    stt++;
                }
            </tbody>
        </table>
    </div>
</div>