@model IEnumerable<CHXE.Models.Myorders>

@{
    ViewBag.Title = "Đơn hàng của tôi";
}



<div class="card mt-3">
    <h5 class="card-header">Đơn hàng của  @Session["HoTenKhachHang"].ToString()</h5>
    <div class="card-body">
        <table class="table table-bordered table-hover table-sm">
            <tr>
                <th width="5%">STT</th>
                <th>Hình ảnh</th>
                <th>Sản phẩm</th>
                <th width="10%">Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
                <th>Thời gian đặt hàng</th>
            </tr>
            @{ int stt = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td class="text-center"><img src="~/@item.HinhAnhBia" width="130" /></td>
                    <td>@item.TenXe</td>
                    <td>@item.SoLuong</td>
                    <td class="text-right">@String.Format("{0:N0}", item.DonGia) VND</td>
                    <td class="text-right">@String.Format("{0:N0}", (item.SoLuong * item.DonGia)) VND</td>
                    <td>@item.NgayDatHang</td>
                </tr>
                stt++;
            }

        </table>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}