@model CHXE.Models.DonHang

@{
    ViewBag.Title = "Thanh toán";
}

<div class="card mt-3">
    <h5 class="card-header">Thông tin thanh toán</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.SDTGiaoHang)
                        @Html.EditorFor(model => model.SDTGiaoHang, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessageFor(model => model.SDTGiaoHang, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DiaChiGiaoHang)
                        @Html.EditorFor(model => model.DiaChiGiaoHang, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessageFor(model => model.DiaChiGiaoHang, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-0">
                    <button type="submit" class="btn btn-dark w-25"><i class="fab fa-apple-pay fa-2x"></i></button> hoặc @Html.ActionLink("Quay về trang chủ", "Index", "Home")
                </div>
            </form>
        }
    </div>
</div>

<div class="card mt-3">
    <h5 class="card-header">Thông tin sản phẩm đặt mua</h5>
    <div class="card-body">
        <table class="table table-bordered table-hover table-sm">
            <tr>
                <th width="5%">STT</th>
                <th>Hình ảnh</th>
                <th>Sản phẩm</th>
                <th width="10%">Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
            @{ int stt = 1; }
            @foreach (var item in (List<CHXE.Models.SanPhamTrongGio>)Session["cart"])
            {
                <tr>
                    <td>@stt</td>
                    <td><img src="~/@item.xe.HinhAnhBia" width="50" /></td>
                    <td>@item.xe.TenXe</td>
                    <td>@item.soLuongTrongGio</td>
                    <td class="text-right">@String.Format("{0:N0}", item.xe.DonGia) VND</td>
                    <td class="text-right">@String.Format("{0:N0}", item.soLuongTrongGio * item.xe.DonGia) VND</td>
                </tr>
                stt++;
            }
            <tr>
                <td colspan="5">Tổng thành tiền</td>
                <td class="text-right font-weight-bold text-primary">
                    @{
                        List<CHXE.Models.SanPhamTrongGio> cart = (List<CHXE.Models.SanPhamTrongGio>)Session["cart"];
                        var total = cart.Sum(item => item.xe.DonGia * item.soLuongTrongGio);
                    }
                    @String.Format("{0:N0}", total) VND
                </td>
            </tr>
        </table>

        <p>
            <a href="@Url.Action("Index", "GioHang")" class="btn btn-primary">Cập nhật sản phẩm</a>
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}