@model CHXE.Models.LoaiXe

@{
    ViewBag.Title = "Cập Nhật Loại Xe";
}
<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.TenLoai)
                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-0">
                
                <button type="submit" class="btn btn-dark"><i class="fas fa-cog"></i> Cập Nhật</button> hoặc @Html.ActionLink("Quay về danh sách", "Index")
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}