@model IEnumerable<BookingTravel.Models.DiaDiemThamQuan>

@{
    ViewBag.Title = "Địa Điểm Tham Quan";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.css">

<div class="card mt-3">
    <div class="card-body">
        <p>
            <a class="btn btn-info" href="@Url.Action("Create")" role="button">Thêm mới</a>
        </p>
        <table id="Panigation" class="table table-bordered table-hover display">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenDiaDanh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tinh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KhachSan.TenKhachSan)
                    </th>

                    <th width="5%">Sửa</th>
                    <th width="5%">Xóa</th>
                </tr>
            </thead>
            <tbody>
                @{ int stt = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@stt</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDiaDanh)
                        </td>
                        <td>
                            @if (item.Tinh == 0)
                            {
                                <span>An Giang</span>
                            }
                            else if (item.Tinh == 1)
                            {
                                <span>Bà rịa – Vũng tàu</span>
                            }
                            else if (item.Tinh == 2)
                            {
                                <span>Bắc Giang</span>
                            }
                            else if (item.Tinh == 3)
                            {
                                <span>Bắc Kạn</span>
                            }
                            else if (item.Tinh == 4)
                            {
                                <span>Bạc Liêu</span>
                            }
                            else if (item.Tinh == 5)
                            {
                                <span>Bắc Ninh</span>
                            }
                            else if (item.Tinh == 6)
                            {
                                <span>Bến Tre</span>
                            }
                            else if (item.Tinh == 7)
                            {
                                <span>Bình Định</span>
                            }
                            else if (item.Tinh == 8)
                            {
                                <span>Bình Dương</span>
                            }
                            else if (item.Tinh == 9)
                            {
                                <span>Bình Phước</span>
                            }
                            else if (item.Tinh == 10)
                            {
                                <span>Bình Thuận</span>
                            }
                            else if (item.Tinh == 11)
                            {
                                <span>Cà Mau</span>
                            }
                            else if (item.Tinh == 12)
                            {
                                <span>Cần Thơ</span>
                            }
                            else if (item.Tinh == 13)
                            {
                                <span>Cao Bằng </span>
                            }
                            else if (item.Tinh == 14)
                            {
                                <span>Đà Nẵng</span>
                            }
                            else if (item.Tinh == 15)
                            {
                                <span>Đắk Lắk</span>
                            }
                            else if (item.Tinh == 16)
                            {
                                <span>Đắk Nông</span>
                            }
                            else if (item.Tinh == 17)
                            {
                                <span>Điện Biên</span>
                            }
                            else if (item.Tinh == 18)
                            {
                                <span>Đồng Nai</span>
                            }
                            else if (item.Tinh == 19)
                            {
                                <span>Đồng Tháp</span>
                            }
                            else if (item.Tinh == 20)
                            {
                                <span>Gia Lai</span>
                            }
                            else if (item.Tinh == 21)
                            {
                                <span>Hà Giang</span>
                            }
                            else if (item.Tinh == 22)
                            {
                                <span>Hà Nam</span>
                            }
                            else if (item.Tinh == 23)
                            {
                                <span>Hà Nội </span>
                            }
                            else if (item.Tinh == 24)
                            {
                                <span>Hà Tĩnh</span>
                            }
                            else if (item.Tinh == 25)
                            {
                                <span>Hải Dương</span>
                            }
                            else if (item.Tinh == 26)
                            {
                                <span>Hải Phòng</span>
                            }
                            else if (item.Tinh == 27)
                            {
                                <span>Hòa Bình</span>
                            }
                            else if (item.Tinh == 28)
                            {
                                <span>Hưng Yên</span>
                            }
                            else if (item.Tinh == 29)
                            {
                                <span>Khánh Hòa</span>
                            }
                            else if (item.Tinh == 30)
                            {
                                <span>Kiên Giang</span>
                            }
                            else if (item.Tinh == 31)
                            {
                                <span>Kon Tum</span>
                            }
                            else if (item.Tinh == 32)
                            {
                                <span>Lai Châu</span>
                            }
                            else if (item.Tinh == 33)
                            {
                                <span>Lâm Đồng</span>
                            }
                            else if (item.Tinh == 34)
                            {
                                <span>Lạng Sơn</span>
                            }
                            else if (item.Tinh == 35)
                            {
                                <span>Lào Cai</span>
                            }
                            else if (item.Tinh == 36)
                            {
                                <span>Nam Định</span>
                            }
                            else if (item.Tinh == 37)
                            {
                                <span>Nghệ An</span>
                            }
                            else if (item.Tinh == 38)
                            {
                                <span>Ninh Bình</span>
                            }
                            else if (item.Tinh == 39)
                            {
                                <span>Ninh Thuận</span>
                            }
                            else if (item.Tinh == 40)
                            {
                                <span>Phú Thọ</span>
                            }
                            else if (item.Tinh == 41)
                            {
                                <span>Phú Yên</span>
                            }
                            else if (item.Tinh == 42)
                            {
                                <span>Quảng Bình</span>
                            }
                            else if (item.Tinh == 43)
                            {
                                <span>Quảng Nam</span>
                            }
                            else if (item.Tinh == 44)
                            {
                                <span>Quảng Ngãi</span>
                            }
                            else if (item.Tinh == 45)
                            {
                                <span>Quảng Ninh</span>
                            }
                            else if (item.Tinh == 46)
                            {
                                <span>Quảng Trị</span>
                            }
                            else if (item.Tinh == 47)
                            {
                                <span>Sóc Trăng</span>
                            }
                            else if (item.Tinh == 48)
                            {
                                <span>Sơn La</span>
                            }
                            else if (item.Tinh == 49)
                            {
                                <span>Tây Ninh</span>
                            }
                            else if (item.Tinh == 50)
                            {
                                <span>Thái Bình</span>
                            }
                            else if (item.Tinh == 51)
                            {
                                <span>Thái Nguyên</span>
                            }
                            else if (item.Tinh == 52)
                            {
                                <span>Thanh Hóa</span>
                            }
                            else if (item.Tinh == 53)
                            {
                                <span>Thừa Thiên Huế</span>
                            }
                            else if (item.Tinh == 54)
                            {
                                <span>Tiền Giang</span>
                            }
                            else if (item.Tinh == 55)
                            {
                                <span>Thành phố Hồ Chí Minh</span>
                            }
                            else if (item.Tinh == 56)
                            {
                                <span>Trà Vinh</span>
                            }
                            else if (item.Tinh == 57)
                            {
                                <span>Tuyên Quang</span>
                            }
                            else if (item.Tinh == 58)
                            {
                                <span>Trà Vinh</span>
                            }
                            else if (item.Tinh == 59)
                            {
                                <span>Vĩnh Long</span>
                            }
                            else if (item.Tinh == 60)
                            {
                                <span>Vĩnh Phúc</span>
                            }
                            else if (item.Tinh == 61)
                            {
                                <span>Yên Bái</span>
                            }
                            else if (item.Tinh == 62)
                            {
                                <span>Hậu Giang</span>
                            }
                            else
                            {
                                <span>Long An</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KhachSan.TenKhachSan)
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fas fa-edit"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                    stt++;
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>

        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

        $(document).ready(function () {
            $('#Panigation').DataTable({
                "language": {
                    "lengthMenu": "Số dòng _MENU_  trên trang ",
                    "zeroRecords": "Không tìm thấy!!!",
                    "info": "Trang  _PAGE_ của _PAGES_",
                    "infoEmpty": "Không có sẵn dữ liệu",
                    "infoFiltered": "(được lọc từ tổng _MAX_  dữ liệu)"
                }
            });
        });
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>

}
