@model BookingTravel.Models.DiaDiemThamQuan

@{
    ViewBag.Title = "Cập nhật";
}

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.TenDiaDanh)
                @Html.EditorFor(model => model.TenDiaDanh, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                @Html.ValidationMessageFor(model => model.TenDiaDanh, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tinh)
                @Html.DropDownListFor(model => model.Tinh, new SelectList(new[] {
                    new SelectListItem {Value = null, Text = "-- Chọn --" },
                    new SelectListItem {Value = "0", Text = "An Giang" },
                    new SelectListItem {Value = "1", Text = "Cần Thơ" },
                    new SelectListItem {Value = "2", Text = "Kiên Giang" },
                    new SelectListItem {Value = "3", Text = "Bạc Liêu" },
                    new SelectListItem {Value = "4", Text = "Sóc Trăng" },
                    new SelectListItem {Value = "5", Text = "Trà Vinh" },
                    new SelectListItem {Value = "6", Text = "Long An" }
                }, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tinh, "", new { @class = "text-danger" })
            </div>
            <div class="form-group  col-md-4">
                @Html.LabelFor(model => model.KhachSan_ID)
                @Html.DropDownList("KhachSan_ID", null, "-- Chọn --", htmlAttributes: new { @class = "form-control col-md-12" })
                @Html.ValidationMessageFor(model => model.KhachSan_ID, "", new { @class = "text-danger" })
            </div>


            <div class="form-group mb-0">

                <button type="submit" class="btn btn-success"><i class="fas fa-cog"></i> Cập Nhật</button> hoặc @Html.ActionLink("Quay về danh sách", "Index")
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
