@model IEnumerable<BookingTravel.Models.BaiViet>

@{
    ViewBag.Title = "Bài viết";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.css">

<div class="card mt-3">
    <div class="card-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                @TempData["AlertMessage"]
            </div>
        }
        <p>
            <a class="btn btn-info" href="@Url.Action("Create")" role="button"> Thêm mới</a>
        </p>
        @if (Session["Quyen"].ToString().ToLower() == "false")
        {
            <table id="Panigation" class="table table-bordered table-hover display">
                <thead>
                    <tr>
                        <th width="3%">#</th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.TieuDe)
                        </th>

                        <th class="text-center" width="12%">
                            @Html.DisplayNameFor(model => model.NgayDang)
                        </th>
                        <th width="5%">
                            @Html.DisplayNameFor(model => model.LuotXem)
                        </th>                     
                        <th class="text-center" width="15%">
                            @Html.DisplayNameFor(model => model.NhanVien.HoVaTen)
                        </th>
                        <th width="5%">Sửa</th>
                        <th width="5%">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int stt = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@stt</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TieuDe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayDang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LuotXem)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.NhanVien.HoVaTen)
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fas fa-edit"></i></a>
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fas fa-trash-alt text-danger"></i></a>
                            </td>
                        </tr>
                        stt++;
                    }
                </tbody>
            </table>
        }
        else
        {
            <table id="Panigation" class="table table-bordered table-hover display">
                <thead>
                    <tr>
                        <th width="3%">#</th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.TieuDe)
                        </th>

                        <th class="text-center" width="12%">
                            @Html.DisplayNameFor(model => model.NgayDang)
                        </th>
                        <th width="5%">
                            @Html.DisplayNameFor(model => model.LuotXem)
                        </th>
                        <th class="text-center" width="5%">
                            @Html.DisplayNameFor(model => model.KiemDuyet)
                        </th>
                        <th class="text-center" width="5%">
                            @Html.DisplayNameFor(model => model.TrangThaiBinhLuan)
                        </th>
                        <th class="text-center" width="15%">
                            @Html.DisplayNameFor(model => model.NhanVien.HoVaTen)
                        </th>
                        <th width="5%">Sửa</th>
                        <th width="5%">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int stt = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@stt</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TieuDe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayDang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LuotXem)
                            </td>
                            <td class="text-center">
                                @if (item.KiemDuyet == 1)
                                {


                                    <a href="@Url.Action("Approved", new { id = item.ID })"><i class="fas fa-check-circle text-info"></i></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Approved", new { id = item.ID })"><i class="fas fa-ban text-danger"></i></a>
                                }
                            </td>
                            <td class="text-center">
                                @if (item.TrangThaiBinhLuan == 1)
                                {
                                    <a href="@Url.Action("CommentStatus", new { id = item.ID })"><i class="fas fa-check-circle text-info"></i></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("CommentStatus", new { id = item.ID })"><i class="fas fa-ban text-danger"></i></a>
                                }
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.NhanVien.HoVaTen)
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fas fa-edit"></i></a>
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fas fa-trash-alt text-danger"></i></a>
                            </td>
                        </tr>
                        stt++;
                    }
                </tbody>
            </table>
        }
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

        $(document).ready(function () {
            $('#Panigation').DataTable({
                "language": {
                    "lengthMenu": "Số dòng _MENU_  trên trang ",
                    "zeroRecords": "Không tìm thấy!!!",
                    "info": "Trang  _PAGE_ của _PAGES_",
                    "infoEmpty": "Không có sẵn dữ liệu",
                    "infoFiltered": "(được lọc từ tổng _MAX_  dữ liệu)"
                }
            });
        });
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>

}