<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  International Travel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="container mt-3">
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#85dce7" >
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img src=" width="100" class="d-inline-block align-content-center" alt="">
                    International Travel
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tour hot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giỏ hàng</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Quản lý
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "PhuongTien")">Phương tiện</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "KhachSan")">Khách sạn</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "DiaDiemThamQuan")">Địa điểm tham quan</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "BaiViet")">Bài viết</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "BinhLuan")">Bình luận</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "NhanVien")">Nhân viên</a></li>
                                <a class="dropdown-item" href="@Url.Action("Index", "KhachHang")">Khách hàng</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index", "Tour")">Tour</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "DatTour")">Đặt Tour</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "DatTour_ChiTiet")">Đặt Tour chi tiết</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ChangePassword", "Home")">Đổi mật khẩu</a>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Home")">Đăng xuất</a>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Bản quyền @DateTime.Now.Year bởi Tình - Thắng - Tuyết.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
