@model BookingTravel.Models.PhuongTien

@{
    ViewBag.Title = "Cập nhật phương tiện";
}


<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.TenPhuongTien, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.TenPhuongTien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenPhuongTien, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LoaiPhuongTien)
                @Html.DropDownListFor(model => model.LoaiPhuongTien, new SelectList(new[] {
                     new SelectListItem {Value = null, Text = "-- Chọn --" },
                    new SelectListItem {Value = "0", Text = "Máy bay" },
                    new SelectListItem {Value = "1", Text = "Tàu thủy" },
                    new SelectListItem {Value = "2", Text = "Tàu hỏa" },
                    new SelectListItem {Value = "3", Text = "Xe khách" }
                }, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LoaiPhuongTien, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoCho, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.SoCho, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoCho, "", new { @class = "text-danger" })

            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Cập nhật" class="btn btn-info" /> hoặc @Html.ActionLink("Quay về danh sách", "Index")
            </div>

        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
