@model IEnumerable<CHXE.Models.DonHang>

@{
    ViewBag.Title = "Đơn Hàng";
}

<div class="card mt-2">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <p><a class="btn btn-dark" href="@Url.Action("Create")" role="button"><i class="fas fa-plus"></i> Thêm mới</a></p>
        <table id="PhanTrang" class="table table-bordered table-hover table-sm mb-0">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.SDTGiaoHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayDatHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KhachHang.HoVaTen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NhanVien.HovaTen)
                    </th>
                    <th width="5%">Sửa</th>
                    <th width="5%">Xóa</th>
                </tr>
            </thead>
            <tbody>
                @{ int stt = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@stt</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDTGiaoHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayDatHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
                        </td>
                        <td>
                            @if (item.TinhTrang == 0)
                            {
                                <span>Đơn hàng mới</span>
                            }
                            else if (item.TinhTrang == 1)
                            {
                                <span>Đang xác nhận</span>
                            }
                            else if (item.TinhTrang == 2)
                            {
                                <span>Đã hủy</span>
                            }
                            else if (item.TinhTrang == 3)
                            {
                                <span>Đang đóng gói</span>
                            }
                            else if (item.TinhTrang == 4)
                            {
                                <span>Đang gửi vận chuyển</span>
                            }
                            else if (item.TinhTrang == 5)
                            {
                                <span>Đang chuyển</span>
                            }
                            else if (item.TinhTrang == 6)
                            {
                                <span>Thất bại</span>
                            }
                            else if (item.TinhTrang == 7)
                            {
                                <span>Đang chuyển hoàn</span>
                            }
                            else if (item.TinhTrang == 8)
                            {
                                <span>Đã chuyển hoàn</span>
                            }
                            else if (item.TinhTrang == 9)
                            {
                                <span>Thành công</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KhachHang.HoVaTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NhanVien.HovaTen)
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fas fa-cog text-warning"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fas fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                    stt++;
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#PhanTrang').DataTable({
                "language": {
                    "lengthMenu": "Số dòng _MENU_  trên trang ",
                    "zeroRecords": "Không tìm thấy!!!",
                    "info": "Trang  _PAGE_ của _PAGES_",
                    "infoEmpty": "Không có sẵn dữ liệu",
                    "infoFiltered": "(được lọc từ tổng _MAX_  dữ liệu)"


                }
            });
        });
    </script>
}
