@model IEnumerable<BookingTravel.Models.Tour>

@{
    ViewBag.Title = "Giỏ hàng";
    var cart = (List<BookingTravel.Models.SanPhamTrongGio>)Session["cart"];

}

<div class="card mt-3">
    <div class="card-body mt-2 mb-2">
        @if (cart == null || cart.Count <= 0)
        {
            <div class="text-center " style="width:100%; margin-top:10px">
                <div class="alert alert-info" role="alert">
                    <span class="">Giỏ hàng chưa có Tour!</span>  <a href="@Url.Action("Index", "Home")" class="btn btn-outline-info"> quay lại trang chủ để chọn Tour</a>
                </div>
            </div>
        }
        else
        {
            {
                string message = TempData["Message"] as string;
                if (message != null)
                {
                    <p class="alert alert-danger">@message</p>
                }
            }

            <table class="table table-bordered table-hover table-sm">
                <tr>
                    <th width="5%">#</th>
                    <th width="35%">Tour </th>
                    <th width="15%">Số lượng</th>
                    <th width="20%">Đơn giá</th>
                    <th width="20%">Thành tiền</th>
                    <th width="5%"></th>
                </tr>
                @{ int stt = 1; }
                @foreach (var item in cart)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@item.tour.TenTour</td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><a href="@Url.Action("CapNhatGiam", "GioHang", new { maSP = item.tour.ID })"><i class="fas fa-minus"></i></a></span>

                                </div>
                                <input type="text" class="form-control text-center" value="@item.soLuongTrongGio" readonly />
                                <div class="input-group-append">
                                    <span class="input-group-text"><a href="@Url.Action("CapNhatTang", "GioHang", new { maSP = item.tour.ID })"><i class="fas fa-plus"></i></a></span>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">@String.Format("{0:N0}", item.tour.DonGia) VNĐ</td>
                        <td class="text-right">@String.Format("{0:N0}", item.soLuongTrongGio * item.tour.DonGia) VNĐ</td>
                        <td class="text-center"><a href="@Url.Action("XoaKhoiGio", "GioHang", new { maSP = item.tour.ID })">Xóa</a></td>
                    </tr>
                    stt++;
                }

                <tr>
                    <td colspan="4">Tổng thành tiền</td>
                    <td class="text-right font-weight-bold text-primary">
                        @{
                            var total = @String.Format("{0:N0}", cart.Sum(item => item.tour.DonGia * item.soLuongTrongGio)) + " VNĐ";
                        }
                        @total
                    </td>
                    <td></td>
                </tr>
            </table>

            <p class="mt-2">
                <a href="@Url.Action("Tour", "Tour")" class="btn btn-info">Tiếp tục chọn Tour</a>
                <a href="@Url.Action("ThanhToan", "Home")" class="btn btn-outline-info">tiếp tục hoàn tất đặt Tour</a>
            </p>
        }
    </div>
</div>