@model CHXE.Models.ChiTietDonHang

@{
    ViewBag.Title = "Thêm Chi Tiết Hóa Đơn";
}

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DonHang_ID)
                        @Html.DropDownList("DonHang_ID", null, "-- Chọn --", htmlAttributes: new { @class = "form-control col-md-12" })
                        @Html.ValidationMessageFor(model => model.DonHang_ID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Xe_ID)
                        @Html.DropDownList("Xe_ID", null, "-- Chọn --", htmlAttributes: new { @class = "form-control col-md-12" })
                        @Html.ValidationMessageFor(model => model.Xe_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.SoLuong)
                        @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control shadow-none col-md-12", @autocomplete = "off", @placeholder = "Nhập số lượng" } })
                        @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DonGia)
                        @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control shadow-none col-md-12", @autocomplete = "off", @placeholder = "Nhập đơn giá" } })
                        @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-0">
                        <button type="submit" class="btn btn-dark"><i class="fas fa-plus"></i> Thêm mới</button> hoặc @Html.ActionLink("Quay về danh sách", "Index")
                    </div>
                </div>
            </form>

        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

