@model BookingTravel.Models.DatTour

@{
    ViewBag.Title = "Thanh toán";
}

<div class="card mt-3">
    <h5 class="card-header">Thông tin thanh toán</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.DienThoaiDatTour)
                @Html.EditorFor(model => model.DienThoaiDatTour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DienThoaiDatTour, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Khách hàng")
                @Html.EditorFor(model => model.HoVaTen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoVaTen, "", new { @class = "text-danger" })
                @if (ViewBag.error != null)
                {
                    <span class="text-danger">@ViewBag.error</span>
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                @if (ViewBag.error != null)
                {
                    <span class="text-danger">@ViewBag.error</span>
                }
            </div>


            <div class="form-group mt-2">
                <input type="submit" value="Hoàn tất đơn đặt Tour cho khách hàng" class="btn btn-info" /> hoặc @Html.ActionLink("Quay về trang chủ", "Index", "Home")
            </div>
        }
    </div>
</div>

<div class="card mt-3">
    <h5 class="card-header">Thông tin Tour đặt</h5>
    <div class="card-body">
        <table class="table table-bordered table-hover table-sm">
            <tr>
                <th width="5%">#</th>
                @*<th>Hình ảnh</th>*@
                <th>Tour</th>
                <th width="10%">Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
            @foreach (var item in (List<BookingTravel.Models.SanPhamTrongGio>)Session["cart"])
            {
                <tr>
                    <td>#</td>
                    @*<td><img src="~/@item.tour" width="50" /></td>*@
                    <td>@item.tour.TenTour</td>
                    <td>@item.soLuongTrongGio</td>
                    <td class="text-right">@String.Format("{0:N0}", item.tour.DonGia) VNĐ</td>
                    <td class="text-right">@String.Format("{0:N0}", (item.soLuongTrongGio * item.tour.DonGia))  VNĐ</td>
                </tr>
            }
            <tr>
                <td colspan="5">Tổng thành tiền</td>
                <td class="text-right font-weight-bold text-primary">
                    @{
                        List<BookingTravel.Models.SanPhamTrongGio> cart = (List<BookingTravel.Models.SanPhamTrongGio>)Session["cart"];
                        var total = @String.Format("{0:N0}", cart.Sum(item => item.tour.DonGia * item.soLuongTrongGio)) + " VNĐ";
                    }
                    @total
                </td>
            </tr>
        </table>

        <p class="mt-2">
            <a href="@Url.Action("Index", "GioHang")" class="btn btn-info">Cập nhật</a>
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}