@model IEnumerable<BookingTravel.Models.DatTour>

@{
    ViewBag.Title =  "Chi tiết đặt tour";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link href="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" rel="stylesheet" />

<div class="card mt-3">
    <div class="card-body">
        <table id="Panigation" class="table table-bordered table-hover table-sm mb-0">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th>
                        Tên Tour
                    </th>                
                    <th>
                        Số lượng
                    </th>
                    <th>
                         Đơn giá
                    </th>
                    <th width="5%">Sửa</th>
                    <th width="5%">Xóa</th>
                </tr>
            </thead>
            <tbody>
                @{ int stt = 1; }
                @foreach (var item in Model)
                {
                    foreach (var ct in item.DatTour_ChiTiet)// tim trong item cái đặt chi tiết
                    {

                    <tr>
                        <td>@stt</td>
                     
                        <td>
                            @ct.Tour.TenTour
                        </td>
                        <td>
                            @ct.SoLuong
                        </td>
                        <td>
                            @ct.DonGia

                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fas fa-edit"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                        stt++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Panigation').DataTable({
                "language": {
                    "lengthMenu": "Số dòng _MENU_  trên trang ",
                    "zeroRecords": "Không tìm thấy!!!",
                    "info": "Trang  _PAGE_ của _PAGES_",
                    "infoEmpty": "Không có sẵn dữ liệu",
                    "infoFiltered": "(được lọc từ tổng _MAX_  dữ liệu)"
                }
            });
        });
    </script>
}