@model IEnumerable<BookingTravel.Models.DatTour>

@{
    ViewBag.Title = "Đặt Tour";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


<div class="card mt-3">
    <div class="card-body">
        <p>
            <a class="btn btn-info" href="@Url.Action("Create")" role="button">Thêm mới</a>
        </p>
        <table class="table table-bordered table-hover table-sm mb-0">
            <tr>
                <th width="5%">#</th>
                <th>
                    @Html.DisplayNameFor(model => model.DienThoaiDatTour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoVaTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayDatHang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TinhTrang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KhachHang.HoVaten)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NhanVien.HoVaTen)
                </th>
                <th width="5%">Sửa</th>
                <th width="5%">Xóa</th>
            </tr>
            @{ int stt = 1; }
            @foreach (var item in Model)
                    {
                <tr>
                    <td>@stt</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DienThoaiDatTour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoVaTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayDatHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TinhTrang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KhachHang.HoVaten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NhanVien.HoVaTen)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
                stt++;
            }

        </table>
    </div>
</div>