@model IEnumerable<BookingTravel.Models.DatTour>

@{
    ViewBag.Title = "Đặt Tour";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.css">


<div class="card mt-3">
    <div class="card-body">
        <p>
            <a class="btn btn-info" href="@Url.Action("Create")" role="button">Thêm mới</a>
        </p>
        <table id="Panigation" class="table table-bordered table-hover display">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.DienThoaiDatTour)
                    </th>
                    <th>
                        Người đặt
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayDatHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrang)
                    </th>
                    <th>
                        Khách hàng
                    </th>
                    <th>
                        Nhân viên
                    </th>
                    <th width="5%">Chi tiết</th>
                    <th width="5%">Hóa đơn</th>
                    <th width="5%">Sửa</th>
                    <th width="5%">Xóa</th>
                </tr>
            </thead>
            <tbody>
                @{ int stt = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                    <td>@stt</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DienThoaiDatTour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoVaTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayDatHang)
                    </td>

                    <td>
                        <select id="trangthai" onchange="document.location.href = '/DatTour/TrangThai/' + @item.ID +'?tinhtrang='+ this.options[this.selectedIndex].value;">

                            @if (item.TinhTrang == 0)
                            {

                                <option value="0" selected>Đơn đặt Tour mới</option>

                                <option value="1">Đang xác nhận </option>

                                <option value="2">Đã hủy</option>

                                <option value="3">Đang thanh toán</option>

                                <option value="4">Đã thanh toán</option>

                                <option value="5">Thất bại</option>

                                <option value="6">Thành công </option>
                            }
                            else if (item.TinhTrang == 1)
                            {
                                <option value="0">Đơn đặt Tour mới</option>

                                <option value="1" selected>Đang xác nhận</option>

                                <option value="2">Đã hủy</option>

                                <option value="3">Đang thanh toán</option>

                                <option value="4">Đã thanh toán</option>

                                <option value="5">Thất bại</option>

                                <option value="6">Thành công </option>
                            }
                            else if (item.TinhTrang == 2)
                            {
                                <option value="0">Đơn đặt Tour mới</option>

                                <option value="1">Đang xác nhận</option>

                                <option value="2" selected>Đã hủy</option>

                                <option value="3">Đang thanh toán</option>

                                <option value="4">Đã thanh toán</option>

                                <option value="5">Thất bại</option>

                                <option value="6">Thành công </option>
                            }
                            else if (item.TinhTrang == 3)
                            {
                                <option value="0">Đơn đặt Tour mới</option>

                                <option value="1">Đang xác nhận</option>

                                <option value="2">Đã hủy</option>

                                <option value="3" selected>Đang thanh toán</option>

                                <option value="4">Đã thanh toán</option>

                                <option value="5">Thất bại</option>

                                <option value="6">Thành công </option>
                            }
                            else if (item.TinhTrang == 4)
                            {
                                <option value="0">Đơn đặt Tour mới</option>

                                <option value="1">Đang xác nhận</option>

                                <option value="2">Đã hủy</option>

                                <option value="3">Đang thanh toán</option>

                                <option value="4" selected>Đã thanh toán</option>

                                <option value="5">Thất bại</option>

                                <option value="6">Thành công </option>
                            }
                            else if (item.TinhTrang == 5)
                            {
                                <option value="0">Đơn đặt Tour mới</option>

                                <option value="1">Đang xác nhận</option>

                                <option value="2">Đã hủy</option>

                                <option value="3">Đang thanh toán</option>

                                <option value="4">Đã thanh toán</option>

                                <option value="5" selected>Thất bại</option>

                                <option value="6">Thành công </option>
                            }
                            else if (item.TinhTrang == 6)
                            {
                                <option value="0">Đơn đặt Tour mới</option>

                                <option value="1">Đang xác nhận</option>

                                <option value="2">Đã hủy</option>

                                <option value="3">Đang thanh toán</option>

                                <option value="4">Đã thanh toán</option>

                                <option value="5">Thất bại</option>

                                <option value="6" selected>Thành công </option>
                            }


                        </select>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KhachHang.HoVaten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NhanVien.HoVaTen)
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Details", new { id = item.ID })"><i class="fas fa-eye"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("InHoaDon", new { id = item.ID })"><i class="fas fa-print"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fas fa-edit"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fas fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
                    stt++;
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });
        
        

        $(document).ready(function () {        
           

            $('#Panigation').DataTable({
                "language": {
                    "lengthMenu": "Số dòng _MENU_  trên trang ",
                    "zeroRecords": "Không tìm thấy!!!",
                    "info": "Trang  _PAGE_ của _PAGES_",
                    "infoEmpty": "Không có sẵn dữ liệu",
                    "infoFiltered": "(được lọc từ tổng _MAX_  dữ liệu)"
                }
            });
        });
    </script>

}


