@model IEnumerable<BookingTravel.Models.DatTour>

@{
    ViewBag.Title = "Đặt Tour";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


<div class="card mt-3">
    <div class="card-body">
        <p>
            <a class="btn btn-info" href="@Url.Action("Create")" role="button">Thêm mới</a>
        </p>
        <table class="table table-bordered table-hover table-sm mb-0">
            <tr>
                <th width="5%">#</th>
                <th>
                    @Html.DisplayNameFor(model => model.DienThoaiDatTour)
                </th>
                <th>
                   Người đặt
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayDatHang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TinhTrang)
                </th>
                <th>
                  Khách hàng
                </th>
                <th>
                   Nhân viên
                </th>
                <th width="5%">Chi tiết</th>
                <th width="5%">Sửa</th>
                <th width="5%">Xóa</th>
            </tr>
            @{ int stt = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DienThoaiDatTour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoVaTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayDatHang)
                    </td>
                    
                    <td>
                        @if (item.TinhTrang == 0)
                        {
                            <span>Đơn đặt Tour mới</span>
                        }
                        else if (item.TinhTrang == 1)
                        {
                            <span>Đang xác nhận</span>
                        }
                        else if (item.TinhTrang == 2)
                        {
                            <span>Đã hủy</span>
                        }
                        else if (item.TinhTrang == 3)
                        {
                            <span>Đang thanh toán</span>
                        }
                        else if (item.TinhTrang == 4)
                        {
                            <span>Đã thanh toán</span>
                        }
                        else if (item.TinhTrang == 5)
                        {
                            <span>Thất bại</span>
                        }
                        else if (item.TinhTrang == 6)
                        {
                            <span>Thành công </span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KhachHang.HoVaten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NhanVien.HoVaTen)
                    </td>

                    <td class="text-center">
                        <a href="@Url.Action("Details", new { id = item.ID })"><i class="fas fa-eye"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fas fa-edit"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fas fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
                stt++;
            }

        </table>
    </div>
</div>