@model BookingTravel.Models.DatTour

@{
    ViewBag.Title = "Hóa Đơn ";

}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Main content -->
                <div class="invoice p-3 mb-3 mt-2">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-globe"></i> ThreeT Travel
                                <small class="float-right">Ngày Lập Hóa Đơn: @DateTime.Now</small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <strong>
                                Thông Tin Nhân Viên
                            </strong>
                            <address>
                                Nhân Viên lập :@Session["HoTenNhanVien"].ToString()
                                <br>
                                Địa Chỉ: @Session["DiaChi"].ToString()<br>

                                Số Điện Thoại: @Session["DienThoai"].ToString()<br>

                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <strong>
                                Thông Tin Khách Hàng
                            </strong>
                            <address>
                                Họ Tên Khách Hàng : @Model.KhachHang.HoVaten
                                <br>
                                Địa Chỉ : @Model.KhachHang.DiaChi<br>

                                Số Điện Thoại: @Model.KhachHang.DienThoai<br>

                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <b>Hóa đơn : @Model.ID</b><br>
                            <b>Ngày Đặt: </b> @Model.NgayDatHang<br>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">#</th>
                                        <th>Tên Tour</th>
                                        <th>Số Lượng Người</th>
                                        <th>Đơn Giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int stt = 1; }
                                    @foreach (var item in Model.DatTour_ChiTiet)
                                    {
                                        <tr>
                                            <td>@stt</td>
                                            <td>@item.Tour.TenTour</td>
                                            <td>@item.SoLuong</td>

                                            <td>
                                                @{
                                                    int dongia = Convert.ToInt32(item.Tour.DonGia);
                                                }
                                                @String.Format("{0:N0}", dongia) VND
                                            </td>
                                        </tr>

                                        stt++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-6">                         
                        </div>
                        <!-- /.col -->
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Thành Tiền:</th>
                                            <td>
                                                @{
                                                    decimal ThanhTien = Model.DatTour_ChiTiet.Sum(n => n.SoLuong * n.Tour.DonGia).Value;
                                                }
                                                @String.Format("{0:N0}", ThanhTien) VND
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-12">
                            <a type="button" class="btn btn-outline-info float-right" id="bill"><i class="fas fa-print mr-2"></i>Print</a>@Html.ActionLink("Quay về danh sách", "Index")
                        </div>
                    </div>
                </div>

                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section Scripts{

    <script>
        document.getElementById("bill").addEventListener("click", myFunction);

        function myFunction() {
            window.addEventListener("load", window.print());
        }
    </script>
}
